<div class="padding-10">
    {% load staticfiles %}
    <a href="/accounts/vk/login/"><img alt="vk icon" src="{% static "base/images/icons/vk.png" %}" /></a>
    <a href="/accounts/facebook/login/"><img alt="fb icon" src="{% static "base/images/icons/fb.png" %}" /></a>
    <a href="/accounts/twitter/login/"><img alt="tw icon" src="{% static "base/images/icons/tw.png" %}" /></a>
    <a href="/accounts/google/login/"><img alt="g+ icon" src="{% static "base/images/icons/gp.png" %}" /></a>
    <!--a href="/login/odnoklassniki-oauth2/"><img alt="ok icon" src="{% static "base/images/icons/gp.png" %}" /></a-->
</div>
