{% spaceless %}{% load static i18n me_tags %}
<!DOCTYPE html>
{% get_current_language as lang %}
<html lang="{{ lang }}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
    <meta name="yandex-verification" content="01076ada7befce97" />
    {% block ogmeta %}{% endblock %}

    <title>{% block title %}Avaika{% endblock %} - avaika.me</title>
    {% get_available_languages as languages %}
    {% get_current_language as lang %}
    {% for lang_code, lang_name in languages %}
        <link rel="alternate" hreflang="{{ lang_code }}" href="{% change_lang lang_code %}" />
    {% endfor %}

    {# <!-- Bootstrap core CSS --> #}
    <link href="{% static "base/css/bootstrap.min.css" %}" rel="stylesheet">

    {# <!-- Add custom CSS here --> #}
    <link href="{% static "base/css/avaika.css" %}" rel="stylesheet">
    <link href="{% static "base/flags/flags32.css" %}" rel="stylesheet">
    {% block addlink %}{% endblock %}
</head>

<body>
      <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                  <span class="sr-only">{% trans "Toggle navigation" %}</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/{{ lang }}/">avaika.me</a>
            </div>

            {# Collect the nav links, forms, and other content for toggling #}
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/{{ lang }}/">avaika.me</a> </li>
                    <li class="hidden-sm"><a href="{% url 'lists_all' %}"><span class="icon-paw"></span>{% trans "Lists" %}</a> </li>
                    <li><a href="{% url 'travel_list' %}"><span class="icon-paw"></span>{% trans "travel" %}</a> </li>
                    {% if user.is_authenticated %}
                      <li><a href="{% url 'account_logout' %}"><span class="icon-paw"></span>{% trans "Exit" %}</a> </li>
                    {% endif %}
                    {% for lang_code, lang_name in languages %}
                      <li class="pull-rght">
                        <a href="{% change_lang lang_code %}">
                          {% if lang_code == lang %}<strong>{% endif %}
                            [{{ lang_code }}]
                          {% if lang_code == lang %}</strong>{% endif %}
                        </a>
                      </li>
                    {% endfor %}
                </ul>
            </div>
            {# /.navbar-collapse #}
        </div>
        {# /.container #}
    </nav>

    {% block content %}
    {% endblock content %}

    {#<footer class="navbar-fixed-bottom">#}
    {% block footer %}
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                  <p>Copyleft {% now "Y" %}. {% trans "Blog source on <a href='//github.com/avaika/avaikame'>github</a>." %}</p>
                </div>
            </div>
        </div>
    </footer>
    {% endblock footer %}

    {# JavaScript #}
    <script src="{% static "base/js/jquery-1.12.3.min.js" %}"></script>
    <script src="{% static "base/js/bootstrap.min.js" %}"></script>
    {% block postscript %}{% endblock %}
    {% if not debug %}
    <script>var clicky_site_ids = clicky_site_ids || []; clicky_site_ids.push(101272041);</script>
    <script async src="//static.getclicky.com/js"></script>
    <noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/101272041ns.gif" /></p></noscript>
    {% endif %}


</body>
</html>{% endspaceless %}
