{% extends 'base.html' %}{% load thumbnail i18n adminfiles_tags staticfiles comments me_tags %}
{% block title %}{% trans "Avaika home" %}{% endblock %}
{% block addlink %}
  <link href="{% static "base/css/lightbox.css" %}" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="{% static "fluent_comments/css/ajaxcomments.css" %}" />
{% endblock %}
{% block content %}
<div class="container">
  {# Post #}
  <div class="row">
    <div class="box">
      <div class="col-lg-8">
        <div class="panel panel-default">
          <div class="panel-heading text-center">
            {% get_current_language as lang %}
            {% blocktrans %}
                Hi, I'm Rush (read as Roosh)<br />
                As you're here I bet you already know me. Even if not, just enjoy :)<br />
                Here you can find yet another home page where I share some notes about my travels, funny facts and IT related stuff to my friends<br /> <br />
                Some content is not yet translated, though I'm working on that. If you want to read always latest news, you might learn some Russian :)<br /><br />
                To get in touch with me feel free to email to site ( at ) avaika.me. <br /> <br />
                Wish you a nice day (:
            {% endblocktrans %}
            {% comment %}{###
                Привет,<br />
                Раз ты попал на эту страничку, скорее всего ты со мной знаком, так что ты знаешь что где и почему здесь находится (:<br />
                Если нет - не расстраивайся. Это самая обычная домашняя страничка с небольшим набором постов про мои зарубежные приключения и пара забавных фактов из мировой истории.<br /><br />
                Если ты решил со мной связаться, но не знаешь как -- пиши сюда: site ( at ) avaika.me. <br /> <br />
                Хорошего дня :)
            ###}{% endcomment %}
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="list-group">
          <a href="{% url 'category' 'it' %}" class="list-group-item">
            <img class="img-responsive" style="height:35px" src="{% static "base/img/main/it.jpg" %}" alt="Image for it"> 
            {% trans "IT" %}<span class="badge">{% count_posts "it" %}</span>
          </a>
          <a href="{% url 'category' 'me' %}" class="list-group-item">
            <img class="img-responsive" style="height:35px" src="{% static "base/img/main/me.jpg" %}" alt="Image for me"> 
            {% trans "Travels" %}<span class="badge">{% count_posts "me" %}</span>
          </a>
          <a href="{% url 'category' 'he' %}" class="list-group-item">
            <img class="img-responsive" style="height:35px" src="{% static "base/img/main/hi.jpg" %}" alt="Image for hi"> 
            {% trans "Funny facts" %}<span class="badge">{% count_posts "hi" %}</span>
          </a>
          <a href="{% url 'books' %}" class="list-group-item">
            <img class="img-responsive" style="height:35px" src="{% static "base/img/main/books.jpg" %}" alt="Image for books"> 
            {% trans "Books" %}
          </a>
          </div>
        </div>
      <div class="clearfix"></div>
    </div>
  </div>

  {# Latest posts #}
  <div class="row">
    <div class="box">
      <div class="col-lg-12">
        <h2 class="intro-text text-center">{% trans "Latest posts" %}</h2>
        <hr>
      </div>
      {% latest_posts as posts %}
      {% for post in posts %}
        <div class="col-sm-4 text-center photo_dark">
          <a href="{% url 'page_redirect' post.id %}">
          {% if post.titleImage %}
              {% thumbnail post.titleImage "750x450" as im %}
              <img class="img-responsive" src="{{ im.url }}" alt="Image for {{ post.title }}">
            {% endthumbnail %}
          {% else %}
              <img class="img-responsive" src="{% static "base/img/no-picture.png" %}" alt="Image for {{ post.title }}">
          {% endif %}
          <span class="photo_desc photo_multi">
             <p>{{ post.title }}</p>
          </span>
          <span class="date_desc date_multi">
            <p>{{ post.created|date:"d E Y" }}</p>
          </span>
          </a>
        </div>
      {% endfor %}
      <div class="clearfix"></div>
    </div>
  </div>

</div>
{% endblock %}
