<a class="btn btn-tweet" target="_blank" href="https://twitter.com/intent/tweet?text={{ post.title }} - avaika.me&url=avaika.me{{ request.get_full_path }}">Tweet</a>
<a class="btn btn-facebook" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=avaika.me{{ request.get_full_path }}">Share on Facebook</a>
<a class="btn btn-google" target="_blank" href="https://plus.google.com/share?url=avaika.me{{ request.get_full_path }}">Plus on Google+</a>
<a class="btn btn-pinterest" target="_blank" href="https://pinterest.com/pin/create/button/?url=avaika.me{{ request.get_full_path }}">Pin on Pinterest</a>
<a class="btn btn-vk" target="_blank" href="https://vk.com/share.php?url=avaika.me{{ request.get_full_path }}&title={{ post.title }} - avaika.me&noparse=true">Share on VK</a>
<a class="btn btn-xing" target="_blank" href="https://www.xing-share.com/app/user?op=share;sc_p=xing-share;url=avaika.me{{ request.get_full_path }}">Share on Xing</a>
<a class="btn btn-tumblr" target="_blank" href="http://www.tumblr.com/share/link?url=avaika.me{{ request.get_full_path }}">Share on Tumblr</a>
<a class="btn btn-reddit" target="_blank" href="http://www.reddit.com/submit?url=avaika.me{{ request.get_full_path }}&title={{ post.title }} - avaika.me">Share on Reddit</a>
