{% extends 'base.html' %} {% load staticfiles i18n %}
{% block content %}
{% if validlink %}
<form action="" method="post" id="passwordchange">
<p align="center">{% trans 'Please enter your new password twice so we can verify you typed it in correctly.' %} </p>
{% csrf_token %}
  <div class="col2 with-margin bottom-line"></div>
  <div class="col2 with-margin bottom-line">
    <div>
      <label for="username">Ваш текущий пароль:</label>
    </div>
    <div>
      <div class="control">
  	    {{ form.new_password1.errors }}
        <input id="id_new_password1" name="new_password1" type="password" value="" />
      </div>
    </div>
  </div>
  <div class="col2 with-margin bottom-line">
    <div>
      <label for="name">Повторите новый пароль:</label>
    </div>
    <div>
      <div class="control">
	      {{ form.new_password2.errors }}
        <input id="id_new_password2" name="new_password2" type="password" value="" />
      </div>
    </div>
  </div>
  <div style="text-align:center;"><input name="reg" type="submit" value="Поменять" class="bt1 entin"></div>
</form>
{% else %}
<form>
  <h1 align="center"><font color="red">{% trans 'Password reset unsuccessful' %}</font></h1>
  <p align="center">{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>
  <p align="center">Вернуться к <a href="/accounts/reset/"><font color="blue">форме сброса пароля</font></a>.</p>
</form>
{% endif %}
{% endblock %}
