{% load staticfiles %}
{% comment %} Form to take email for password reset from user {% endcomment %}
{% load i18n %}{% load url from future %}
Вас приветсвует аудио-студия Audio-Reclama.ru.

Вы (или кто-то еще) запросили изменение пароля доступа 
к партнёрской программе partner.audio-reclama.ru

{% trans "Ваш логин:" %} {{ user.username }}

Перейдите по ссылке для изменения пароля: 
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'django.contrib.auth.views.password_reset_confirm' uidb64=uid token=token %}
{% endblock %}

Внимание! Если ссылка на восстановление пароля разбилась 
на несколько строк, скопируйте все части в адресную строку 
браузера и перейдите по получившейся ссылке.

Если Вы получили это письмо по ошибке - просто проигнорируйте 
его, и Ваш пароль останется старым.

Спасибо, что вы с нами!

C уважением,
Администрация сайта http://{{ domain }}.
