{% extends 'base.html' %}{% load staticfiles i18n %}
{% block content %}
<form action="" method="post">{% csrf_token %}
  <div class="col2 with-margin bottom-line"></div>
  <div class="col2 with-margin bottom-line">
    <div>
      <label for="username">Ваш текущий пароль:</label>
    </div>
    <div>
      <div class="control">
  	    {{ form.old_password.errors }}
        <input id="id_old_password" maxlength="4096" name="old_password" type="password" />
      </div>
    </div>
  </div>
  <div class="col2 with-margin bottom-line">
    <div>
      <label for="username">Ваш текущий пароль:</label>
    </div>
    <div>
      <div class="control">
  	    {{ form.old_password.errors }}
        <input id="id_old_password" maxlength="4096" name="old_password" type="password" />
      </div>
    </div>
  </div>
  <div class="col2 with-margin bottom-line">
    <div>
      <label for="name">Повторите новый пароль:</label>
    </div>
    <div>
      <div class="control">
	      {{ form.new_password2.errors }}
        <input id="id_new_password2" maxlength="4096" name="new_password2" type="password" />
      </div>
    </div>
  </div>
  <div style="text-align:center;"><input name="reg" type="submit" value="Поменять" class="bt1 entin"></div>
</form>
{% endblock %}
