{% extends 'base.html' %} {% load staticfiles %}
{% block content %}
<div class="log" style="text-align:center">
  <form action="{% url 'django.contrib.auth.views.password_reset' %}" method="post">
  {% csrf_token %}
    <div class="col2 with-margin bottom-line"></div>
    <div class="col2 with-margin bottom-line">
      <div>
        <label for="username">Ваш email:</label>
      </div>
      <div>
        <div class="control">
  	      {{ form.email.errors }}
          <input id="id_email" maxlength="254" name="email" type="text" />
        </div>
      </div>
    </div>
    <div style="text-align:center;"><input name="reg" type="submit" value="Вспомнить" class="bt1 entin"></div>
  </form>
</div>
{% endblock %}
