{% extends 'base.html' %}{% load staticfiles i18n %}
{% block title %}{% trans "Registration closed" %}{% endblock %}
{% block footer %}{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="box">
      <div class="col-lg-12">
        <div class="form-group col-lg-12">
          <div class="jumbotron text-center">
            <p>{% trans "Unfortunately registration is unavailable at the moment." %}</p>
          <div class="clearfix"></div>
        </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
{% endblock %}
