BeautifulSoup==3.2.1
Django
django-allauth==0.25.0
django-celery==3.1.17
django-contrib-comments==1.6.2
django-crispy-forms==1.6.0
django-debug-toolbar==1.4
django-extensions==1.6.1
django-fluent-comments==1.2
django-grappelli==2.8.1
django-modeltranslation==0.11
django-tags-input==2.0.1
django-threadedcomments==1.0.1
sorl-thumbnail==12.3
timezones==1.9.6
python-social-auth
git+git://github.com/gkuhn1/django-admin-multiupload.git
git+git://github.com/HonzaKral/django-threadedcomments
pytest
django-social-share
