beautifulsoup4>=4.12
psycopg2-binary>=2.9
Django>=5.2
celery>=5.3
django-contrib-comments>=2.2
django-debug-toolbar>=4.4
django-extensions>=3.2
django-grappelli>=4.0
django-modeltranslation>=0.19
django-social-share>=2.3
django-tags-input>=4.4.2
sentry-sdk[django]>=2.0
sorl-thumbnail>=12.10
wikipedia>=1.4.0
django-allauth>=65.0
django-crispy-forms>=2.1
crispy-bootstrap3>=2024.1
django-dbbackup>=4.1
django-threadedcomments>=2.0
Pillow
