Django
django-allauth
django-celery
django-contrib-comments
django-crispy-forms
django-debug-toolbar
django-extensions
django-grappelli
django-fluent-comments
django-modeltranslation
sorl-thumbnail
timezones
python-social-auth
django-tags-input
git+git://github.com/gkuhn1/django-admin-multiupload.git
git+git://github.com/HonzaKral/django-threadedcomments
