{% extends 'base.html' %}{% load static i18n thumbnail %}

{% block title %}Страны{% endblock %}
{% block postscript %}
  <link rel="stylesheet" type="text/css" href="{% static "base/css/theme.default.css" %}" />
  <script type="text/javascript" src="{% static "base/js/jquery.tablesorter.min.js" %}"></script>
  <script type="text/javascript" src="{% static "base/js/jquery.tablesorter.widgets.min.js" %}"></script>
  <script>{# function to sort table contents #}
  $(document).ready(function(){
      $(function(){
          $("#books").tablesorter(
              { theme : 'default', 
                sortList : [[6,0],[0,0]],
                headerTemplate : '{content}{icon}',
                widgets : ["columns"],
                widgetOptions : { columns : [ "ready", "country" ] }
                });
          });
      });
  </script>
{% endblock postscript %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="box">
      <div class="col-lg-12">
        <h2 class="intro-text text-center">Страны</h2>
        <hr>
      </div>
      <div class="col-lg-12 text-center">
        <div class="panel panel-default">
          <div class="panel-heading">
          {% for ball in balls %}
            {% if forloop.first %}
              <table class="table table-bordered table-striped table-hover table-heading table-datatable" id="books">
                <thead>
                  <tr>
                    <th data-field="country">Страна</th>
                    <th data-field="flag">Флаг</th>
                    <th data-field="flag_down">Скачать флаг</th>
                    <th data-field="example">Пример</th>
                    <th data-field="comment">Комментарий</th>
                    <th data-field="done">Результат</th>
                    <th data-field="ready">Готово?</th>
                  </tr>
                </thead>
            {% endif %}
                <tr class="{% if ball.ready == True %}success{% else %}warning{% endif %}">
                  <td>
                     {{ ball.title }}
                  </td>
                  <td>
                    <img src="{{ MEDIA_URL }}{{ ball.flag }}" alt="{{ ball.value }}" height="50px" />
                  </td>
                  <td>
			  {% if ball.flag_url %}<a download="{{ ball.title_en }}.svg" href="{{ ball.flag_url }}?download" title="{{ ball.title_en }}">Скачать</a>{% endif %}
                  </td>
                  <td>
                    {% if ball.example %}
		      <img src="{{ MEDIA_URL }}{{ ball.example }}" alt="{{ ball.value }}" height="100px" />
		      <a download="{{ ball.title_en }}.jpg" href="{{ MEDIA_URL }}{{ ball.example }}" title="{{ ball.title_en }}">Скачать</a>
		    {% endif %}
                  </td>
                  <td>
		    {% if ball.comment %}{{ ball.comment }}{% endif %}
                  </td>
                  <td>
                    {% if ball.ball %}<img src="{{ MEDIA_URL }}{{ ball.ball }}" alt="{{ ball.value }}" height="100px" />{% endif %}
                  </td>
                  <td>{{ ball.ready|yesno:"&#10003;, &times;"|safe }}</td>
                </tr>
              {% if forloop.last %}
              </table>
              {% endif %}
            {% endfor %}
          </div>
              <div class="col-lg-12 text-center">
          {% for ball in ready_balls %}
	  {% if ball.ball %}<img src="{{ MEDIA_URL }}{{ ball.ball }}" alt="{{ ball.value }}" height="100px" /> {# + <a href="{{ MEDIA_URL }}{{ ball.psdfile }}">PSD</a> ||#} {% endif %}
	  {% endfor %}

              </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
