{% extends 'base.html' %}{% load static i18n thumbnail me_tags %}

{% block title %}me{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="box">
        <div class="col-lg-12 hidden-xs">
          <div class="flags">
          {% flags posts as post_flags %}
          {% for flag in post_flags %}
            <a href="{% url "country_list" flag.country__value %}">
              {% thumbnail flag.country__flag "70" format="PNG" as im %}
                <img class="flag-thumb{% if flag.current %} flag-current{% endif %}" src="{{ im.url }}" />
              {% endthumbnail %}
            </a>
            {% if forloop.last %} ... {% endif %}
          {% endfor %}
          </div>
        </div>
      {% for post in posts %}
        {% if forloop.first %}
        <div class="col-lg-12">
          <div id="carousel-example-generic" class="carousel slide">
            <div class="carousel-inner">
              <div class="item active">
                <a href="{% url 'page_redirect' post.id %}">
                  {% thumbnail post.headImage "x600" crop="center" as im %}
                  <img class="img-responsive img-full" src="{{ im.url }}" alt="Image for {{ post.title }}">
                  {% empty %}
                  <img class="img-responsive img-full" src="{% static "base/img/no-picture.png" %}" alt="Image for {{ post.title }}">
                  {% endthumbnail %}
                  <span class="photo_desc photo_head hidden-xs">
                    <p>
                    {% if post.country.flag %}
                      <img class="flag-title" src="{{ MEDIA_URL }}{{ post.country.flag }}" />
                    {% endif %}
                      {{ post.title }}
                    </p>
                  </span>
                  <span class="photo_desc photo_head visible-xs">
                    <p>
                    {% if post.country.flag %}
                      {% thumbnail post.country.flag "75" as im %}
                        <img class="flag-title" src="{{ im.url }}" />
                      {% endthumbnail %}
                    {% endif %}
                      {{ post.title }}
                    </p>
                  </span>
                  <span class="date_desc date_head hidden-xs">
                    <h2>{{ post.created|date:"d E Y" }}</h2>
                  </span>
                </a>
              </div>
            </div>
            <h2></h2>
          </div>
        </div>
        {% else %}
          {% include 'me/post_item.html' %}
          {% if forloop.counter == 4 or forloop.counter == 7 %}
            <div class="clearfix"></div>
            <h2></h2>
          {% endif %}
        {% endif %}
      {% endfor %}
      {% include 'me/pagination.html' %}
      </div>
  </div>
</div>
{% endblock content %}
