{% load static i18n thumbnail me_tags %}
<div class="col-sm-4 photo_dark">
  <div class="wrapper">
  <a href="{% url 'page_display' post.id post.slug %}">
    {% thumbnail post.titleImage "500x300" as im %}
      <img class="img-responsive" src="{{ im.url }}" alt="Image for {{ post.title }}">
    {% empty %}
      <img class="img-responsive img-full" src="{% static "base/img/no-picture.png" %}" alt="Image for {{ post.title }}">
    {% endthumbnail %}
    <div class="photo_desc photo_multi">
      <p>
      {% if post.country.flag %}
        <i class="icon icon48-{{ post.country.slug }} flag-title"></i>
      {% endif %}
      {{ post.title }} 
      </p>
    </div>
    <div class="date_desc date_multi">
        <p>{{ post.created|date:"d E Y" }}</p>
    </div>
  </a>
  </div>
</div>
