{% load thumbnail i18n staticfiles %}
{% if photo %}
  {% thumbnail photo "x1200" as photo_big %}
  <div class="psto-block">
    <figure class="figure">
    <a class="photos" data-fslightbox href="{{ MEDIA_URL }}{{ photo_big }}">
      {% if panorama %}
        {% thumbnail photo "x400" as photo_thumb %}
        <img alt="Photo {{ chunk.id }}" class="img-responsive img-full" src="{{ MEDIA_URL }}{{ photo_thumb }}">
        {% endthumbnail %}
      {% else %}
        {% thumbnail photo "x333" as photo_thumb %}
        <img alt="Photo {{ chunk.id }}" class="img-responsive psto-photo" src="{{ MEDIA_URL }}{{ photo_thumb }}">
        {% endthumbnail %}
      {% endif %}
    </a>
    <figcaption class="text-right">
      {% if photo_source %}(c) by {{ photo_source|safe }}{% else %}(cc) by Rushan{% endif %}
    </figcaption>
    </figure>
  </div>
  {% endthumbnail %}
{% endif %}
