{% load static %}
<html>
<head>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
<meta charset="utf-8">

<link href="{% static "base/css/bootstrap.css" %}" rel="stylesheet">
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
<script>
  var directionsDisplay;
  var directionsService = new google.maps.DirectionsService();
  var map;

  function calcRoute() {
    directionsDisplay = new google.maps.DirectionsRenderer();
    map = new google.maps.Map(document.getElementById('map-canvas'));
    directionsDisplay.setMap(map);
    {% for waypt in waypts %}
      {% if forloop.first %}
        var start = '{{ waypt.place }}'
        var waypts = [
      {% elif forloop.last %}
                 ];
        var end = '{{ waypt.place }}'
      {% else %}
        {location:'{{ waypt.place }}', stopover:true},
      {% endif %}
    {% endfor %}

    var request = {
      origin: start,
      destination: end,
      waypoints: waypts,
      optimizeWaypoints: true,
      travelMode: google.maps.TravelMode.DRIVING,
    };

    directionsService.route(request, function(response, status) {
      if (status == google.maps.DirectionsStatus.OK) {
        directionsDisplay.setDirections(response);
        var route = response.routes[0];
        var summaryPanel = document.getElementById('directions_panel');
        summaryPanel.innerHTML = '';
        // For each route, display summary information.
        total = 0 ;
        for (var i = 0; i < route.legs.length; i++) {
          var routeSegment = i + 1;
          total += route.legs[i].distance.value ;
          start = route.legs[i].start_address ; end = route.legs[i].end_address ;
          li = '<li class="list-group-item">' ;
          if (i == 0 ) { 
            summaryPanel.innerHTML += li + start.substring(0, start.indexOf(',')) + '</li>';
          }
          summaryPanel.innerHTML += li + end.substring(0, end.indexOf(',')) + '<span class="badge">' + route.legs[i].distance.text +'</span></li>';
          if (i == route.legs.length - 1 ) { 
            summaryPanel.innerHTML += li + 'Total<span class="badge">' + total + '</span></li>'; 
          } 
        }
      }
    });
  }
google.maps.event.addDomListener(window, 'load', calcRoute);
</script>
</head>
<body>
  <div id="map-canvas" style="float:left;width:75%;height:100%;"></div>
  <ul id="directions_panel" style="float:right;width:25%" class="list-group"></ul>
</body></html>
