{% extends 'base.html' %}{% load static i18n thumbnail %}

{% block title %}{% trans "Lists" %}: {{ current_list.name }}{% endblock %}
{% block postscript %}
  <link rel="stylesheet" type="text/css" href="{% static "base/css/theme.default.css" %}" />
  <script type="text/javascript" src="{% static "base/js/jquery.tablesorter.min.js" %}"></script>
  <script type="text/javascript" src="{% static "base/js/jquery.tablesorter.widgets.min.js" %}"></script>
  <script>{# function to sort table contents #}
  $(document).ready(function(){
      $(function(){
          $("#items").tablesorter(
              { theme : 'default', 
                headerTemplate : '{content}{icon}',
                widgets : ["columns"],
                widgetOptions : { columns : [ "read", "author" ] }
                });
          });
      });
  </script>
{% endblock postscript %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="box">
      <div class="col-lg-12">
          <h2 class="intro-text text-center">{% trans "Lists" %}: {{ current_list.name }}</h2>
        <hr>
      </div>
      <div class="col-lg-12 text-center">
        <div class="panel panel-default">
          <div class="panel-heading">
          {% for item in items %}
            {% if forloop.first %}
              <table class="table table-bordered table-striped table-hover table-heading table-datatable" id="items">
                <thead>
                  <tr>
                    {% if item.item %}<th data-field="id">{% trans "What?" %}</th>{% endif %}
                    {% if item.link %}
                      <th data-field="link">{% trans "Where?" %}</th>
                    {% elif item.value %}
                      <th data-field="link">{% trans "Item" %}</th>
                    {% endif %}
                    {% if item.comment %}<th data-field="comment">{% trans "Comment" %}</th>{% endif %}
                    {% if item.itemImage %}<th data-field="image">{% trans "Image" %}</th>{% endif %}
                  </tr>
                </thead>
            {% endif %}
                <tr>
                    {% if item.item %}<td>{{ item.item }}</td>{% endif %}
                    {% if item.link %}
                        <td><a href="{{ item.link }}">{{item.value }}</a></td>
                    {% elif item.value %}
                      <td>{{ item.value }}</td>
                    {% endif %}
                    {% if item.comment %}<td>{{ item.comment }}</td>{% endif %}
                    {% if item.itemImage %}<td>
                    {% thumbnail item.itemImage "x400" as photo_thumb %}
                    <img alt="Photo {{ chunk.id }}" class="img-responsive img-full" src="{{ MEDIA_URL }}{{ photo_thumb }}">
                    {% endthumbnail %}
                    </td>{% endif %}
                </tr>
              {% if forloop.last %}
              </table>
              {% endif %}
            {% endfor %}
          </div>
          {% if is_paginated and page_obj %}
            {% if page_obj.has_previous or page_obj.has_next %}
              <div class="col-lg-12 text-center">
                <ul class="pager">
                  {% if page_obj.has_previous %}
                    <li class="previous"><a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">&larr; {% trans "Back" %}</a></li>
                    <li><a href="{{ request.path }}?page={{ page_obj.previous_page_number }}" class="select">{{ page_obj.previous_page_number }}</a></li>
                  {% endif %}
                  <li><a href="#" onclick="return false;" class="select">{{ page_obj.number }}</a></li>
                  {% if page_obj.has_next %}
                    <li><a href="{{ request.path }}?page={{ page_obj.next_page_number }}" class="select">{{ page_obj.next_page_number }}</a></li>
                    <li class="next"><a href="{{ request.path }}?page={{ page_obj.next_page_number }}">{% trans "Forward" %} &rarr;</a></li>
                  {% endif %}
                </ul>
              </div>
            {% endif %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
