{% load thumbnail %}
{% spaceless %}
  {% thumbnail upload.upload "x1200" as im %}
    <a href="/media/{{ im }}" data-lightbox="roadtrip" class="photos">
  {% endthumbnail %}
  {% if options.type == 'panorama' %}
    {% thumbnail upload.upload "x400" as im %}
      <img src="/media/{{ im }}" class="img-responsive img-full" alt="Photo {{ upload.id }}"/>
    {% endthumbnail %}
  {% elif options.type == 'small' %}
    {% thumbnail upload.upload "x190" as im %}
      <img src="/media/{{ im }}" class="{{ options.class }}" alt="Photo {{ upload.id }}"/>
    {% endthumbnail %}
  {% else %}
    {% thumbnail upload.upload "450x300" as im %}
      <img src="/media/{{ im }}" class="{{ options.class }}" alt="Photo {{ upload.id }}"/>
    {% endthumbnail %}
  {% endif %}
    </a>
{% endspaceless %}
