{% load thumbnail %}
{% spaceless %}
{% thumbnail upload.upload "1200x1200" as im %}
<a href="/media/{{ im }}" data-lightbox="roadtrip">
{% endthumbnail %}
{% thumbnail upload.upload "450x300" as im %}
{% if options.type == 'panorama' %}
<img src="/media/{{ im }}" class="img-responsive img-full" alt="Photo {{ upload.id }}"/>
{% elif options.type == 'vertical' %}
  <img src="/media/{{ im }}" class="{{ options.class }}" alt="Photo {{ upload.id }}"/>
{% else %}
  <img src="/media/{{ im }}" class="{{ options.class }}" alt="Photo {{ upload.id }}"/>
{% endif %}
{% endthumbnail %}
</a>
{% endspaceless %}
