{% load i18n %}
{% if is_paginated and page_obj %}
  <div class="pagination_bg text-center">
    <ul class="pagination">
    <li {% if not page_obj.has_previous %}class="disabled"{% endif %}><a href="{% if page_obj.has_previous %}?page={{ page_obj.previous_page_number }}{% else %}#{% endif %}">{% trans "Back" %}</a></li>
      {% if page_obj.has_previous %}
          {% if page_obj.number > 2 %}
            <li {% if not page_obj.has_previous %}class="disabled"{% endif %}><a href="?page=1">1</a></li>
          <li><span>...</span></li>
        {% endif %}
        <li><a href="?page={{ page_obj.previous_page_number }}" >{{ page_obj.previous_page_number }}</a>
      {% endif %}
      <li class="active"><a href="#">{{ page_obj.number }}</a></li>
      {% if page_obj.has_next %}
          <li><a href="?page={{ page_obj.next_page_number }}" >{{ page_obj.next_page_number }}</a>
        {% if page_obj.next_page_number != page_obj.paginator.num_pages %}
            <li><span>...</span></li>
          <li {% if not page_obj.has_next %}class="disabled"{% endif %}><a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a></li>
        {% endif %}
      {% endif %}
    <li {% if not page_obj.has_next %}class="disabled"{% endif %}><a href="{% if page_obj.has_next %}?page={{ page_obj.next_page_number }}{% else %}#{% endif %}">{% trans "Forward" %}</a></li>
    </ul>
  </div>
{% endif %}
